<<<<<<< HEAD
doctype html
html(lang='en')
  head
    title Server
  body
    h1 Hello, My Server
=======
doctype html
html(lang='en')
  head
    title Server
  body
    h1 Hello, My Server
>>>>>>> 19da42995f31f7493f108f48ca58e14c58e918a6
    block main