doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sum
    link(rel='stylesheet' href='/static/stylesheets/style.css')
  body
    section
      h1 Calculate!
      label Please fill the blank with positive integer to calculate 1+2+3+...+n
      form(action='/index.js')
        input#sum.inputNumber(type='text' name='number')
      button.submitNumber(type='submit') Submit
      h3.result
    script.
      const sum = document.querySelector('#sum')
      const btn = document.querySelector('.submitNumber')
      const Result = document.querySelector('.result')
      function calculate(input) {
      const xhr = new XMLHttpRequest()
      xhr.open('POST', '/getData?number=' + input)
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
      // xhr.send("number=" + input)
      xhr.send(input)
      xhr.onload = () => {
      if (xhr.status === 200) {
      console.log(xhr.responseText)
      let ans = JSON.parse(xhr.responseText)
      Result.innerHTML = `${ans}`
      }
      };
      }
      btn.addEventListener('click', () => {
      calculate(sum.value)
      })
